<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="HPETestBackup1">

     <test name="HPETest">
        <classes>
           <class name="Regression_Utilities.HPETest"/>                   
        </classes>
     </test>  
     

</suite>
